<!-- Modal add testcase-->
<div class="modal fade" id="addTestcase" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="card-header-warning">
                    <h4 class="card-title text-warning">{{titleModal}}</h4>
                </div>
            </div>
            <div class="modal-body">
                <form name="form" novalidate>

                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-static">Input</label>
                                <div ng-repeat="t in testCases track by $index">
                                    <input ng-model="t.Input" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="bmd-label-static">Output</label>
                                <input type="text" ng-model="testCases.Output" class="form-control">
                                <input type="text" hidden ng-model="lastestTestCaseId" class="form-control ">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button ng-show="actionTestCase=='Add'" class="btn btn-warning" ng-click="addTestCase(testCases)">{{actionTestCase}}</button>
                <button ng-show="actionTestCase=='Edit'" class="btn btn-warning" ng-click="editTestCase(testCases)">{{actionTestCase}}</button>
            </div>
        </div>
    </div>
</div>