
@{
    ViewBag.Title = "Index";
}
<script src="@Url.Content("~/Scripts/app/Task/TaskController.js")"></script>
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery.duplicate.min.js"></script>
<script src="~/ckeditor/ckeditor.js"></script>

<style>
    #abc {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0px 30px;
    }
</style>

<div class="main-panel" ng-controller="TaskController">
    <!-- End Navbar -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <h4 class="card-title">Task List</h4>
                            <div class="btn btn-warning pull-right" ng-click="modalFunc();">
                                <i class="material-icons" style="font-size: 25px;">
                                    library_add
                                </i>
                            </div>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                <th>ID</th>
                                <th>Name</th>
                                <th>Level</th>
                                <th>Point</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="task in tasks">
                                        <td>{{task.TaskId}}</td>
                                        <td>{{task.TaskName}}</td>
                                        <td>{{task.TaskLevel}}</td>
                                        <td>{{task.Point}}</td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="Details" class="btn btn-success btn-link btn-sm" ng-click="detailTask(task.TaskId)">
                                                <i class="material-icons">info</i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm" ng-click="confirmDelete(task.TaskId)">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @*Paging*@
                    <div class="col-sm-12 col-xs-12 none-padding page-footer">
                        <div class="col-sm-12 col-xs-12 none-padding page-footer">
                            <div class="col-sm-12 col-xs-12 none-padding text-right ">
                                <ul uib-pagination boundary-links="true"
                                    total-items="ItemPaging.total"
                                    ng-change="childsPageChanged()"
                                    max-size="ItemPaging.maxSize"
                                    items-per-page="ItemPaging.numPerPage"
                                    ng-model="ItemPaging.currentPage"
                                    boundary-link-numbers="true"
                                    class="tbl-pagination pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal/Edit add task-->
                <div class="col-md-12">
                    <div class="modal fade" id="addTask" tabindex="-1" role="dialog" aria-hidden="true">
                        <div id="abc" class="modal-dialog">
                            <div class="modal-content" style="width: 1280px !important">
                                <div class="modal-header">
                                    <div class="card-header-warning">
                                        <h4 class="card-title text-warning">{{modalTitle}}</h4>
                                    </div>
                                </div>
                                <div class="modal-body" style="overflow: auto;height: 600px;">
                                    <form>
                                        <div style="height: 400px; overflow-y: auto;">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="bmd-label-static">Taskname</label>
                                                        <input type="text" class="form-control" ng-model="task.TaskName">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="bmd-label-static">Level</label>
                                                        <select class="form-control" ng-model="task.TaskLevel" ng-options="level for level in Level">
                                                            <option selected value="">Choose level</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="bmd-label-static">Point</label>
                                                        <select class="form-control" ng-model="task.Point" ng-options="point for point in Point">
                                                            <option selected value="">Choose point</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="bmd-label-static">OutputType</label>
                                                        <select class="form-control" ng-model="task.OutputType">
                                                            <option selected value="">Choose output type</option>
                                                            <option ng-repeat="type in dataTypes" value="{{type.DataTypeName}}">{{type.DisplayName}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="bmd-label-static">Description</label>
                                                        <div class="form-group">
                                                            <textarea class="form-control" ck-editor rows="10" ng-model="task.TaskDescription"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12" id="parent">
                                                    <span>Input</span>
                                                    <button class="btn btn-primary pull-right" ng-click="add();">
                                                        <i class="glyphicon glyphicon-plus"></i>Add Input
                                                    </button>
                                                    <div id="duplicate" class="row container" ng-repeat="d in dataInput">
                                                        <div class="form-group col-md-5 bmd-form-group">
                                                            <label class="bmd-label-static">Name</label>
                                                            <input type="text" class="form-control" ng-model="d.InputName"></input>
                                                        </div>
                                                        <div class="form-group col-md-5">
                                                            <select class="form-control" ng-model="d.InputType">
                                                                <option selected value="">Choose input type</option>
                                                                <option ng-repeat="type in dataTypes" value="{{type.DataTypeName}}">{{type.DisplayName}}</option>
                                                            </select>
                                                        </div>
                                                        <button type="button" class="btn btn-danger" ng-click="delete(d.InputID)">
                                                            <i class="glyphicon glyphicon-trash"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card">
                                                    <div class="card-header card-header-tabs card-header-warning">
                                                        <div class="nav-tabs-navigation">
                                                            <div class="nav-tabs-wrapper">
                                                                <span class="nav-tabs-title">Test Case</span>
                                                                <button type="button" rel="tooltip" title="Add Testcase" class="btn btn-warning btn-sm pull-right" ng-click="openModalTestCase()">
                                                                    <i class="material-icons">add</i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="tab-content">
                                                            <div class="tab-pane active" id="profile">
                                                                <table class="table">
                                                                    <thead class="text-warning">
                                                                    <th>Input</th>
                                                                    <th>Output</th>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="test in tests track by $index">
                                                                            @*<td>{{test.TestCaseId}}</td>*@
                                                                            <td>
                                                                                <ul>
                                                                                    <li ng-repeat="input in test.Input track by $index">arg{{$index + 1}}: {{input}}</li>
                                                                                </ul>
                                                                            </td>
                                                                            <td>{{test.Output}}</td>
                                                                            <td class="td-actions text-right">
                                                                                <button type="button" rel="tooltip" title="Edit Testcase" class="btn btn-primary btn-link btn-sm" ng-click="detailTestCase(test)">
                                                                                    <i class="material-icons">edit</i>
                                                                                </button>
                                                                                <button type="button" rel="tooltip" title="Remove" ng-click="deleteTestCase(test.TestCaseId)" class="btn btn-danger btn-link btn-sm">
                                                                                    <i class="material-icons">close</i>
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" ng-show="action=='Add'" class="btn btn-warning" ng-click="addTask(task, tests)">Add</button>
                                    <button type="button" ng-show="action=='Edit'" class="btn btn-warning" ng-click="editTask(task, tests)">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.Partial("_AddTestCase")
                </div>
                <!--Delete Modal -->
                <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-danger" id="exampleModalLabel">Delete</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Bạn có chắc chắn muốn xóa?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" ng-click="deleteTask()">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


