
@{
    ViewBag.Title = "Index";
}
<script src="@Url.Content("~/Scripts/app/User/UserController.js")"></script>

<div class="main-panel" ng-controller="UserController" ng-init="getRole()">
    <!-- End Navbar -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title ">Users Table</h4>
                            <div class="btn btn-primary pull-right" ng-click="modalFunc();">
                                <i class="material-icons" style="font-size: 25px;">
                                    group_add
                                </i>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                    <th>Name</th>
                                    <th>Display Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    @*<th>Active</th>*@
                                    <th></th>
                                    <th></th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="user in users">
                                            <td>{{user.UserName}}</td>
                                            <td>{{user.DisplayName}}</td>
                                            <td>{{user.Email}}</td>
                                            <td>{{user.Role.RoleName}}</td>
                                            @*<td>{{user.Active}}</td>*@
                                            <td>
                                                <a href="" ng-click="getUserById(user.ID)"><i class="material-icons">edit</i></a>
                                                <a href="" ng-click="confirmDelete(user.ID)"><i class="material-icons">delete</i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @*Paging*@
                        <div class="col-sm-12 col-xs-12 none-padding page-footer">
                            <div class="col-sm-12 col-xs-12 none-padding page-footer">
                                <div class="col-sm-12 col-xs-12 none-padding text-right ">
                                    <ul uib-pagination boundary-links="true"
                                        total-items="ItemPaging.total"
                                        ng-change="childsPageChanged()"
                                        max-size="ItemPaging.maxSize"
                                        items-per-page="ItemPaging.numPerPage"
                                        ng-model="ItemPaging.currentPage"
                                        boundary-link-numbers="true"
                                        class="tbl-pagination pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal add user-->
    <div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="card-header-primary">
                        <h4 class="card-title text-primary">{{titleModal}}</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <form name="form" novalidate>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group" id="isFocus">
                                    <label class="bmd-label-floating">Username</label>
                                    <input type="text" ng-model="user.UserName" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Password:</label>
                                    <input type="password" ng-model="user.Password" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6" id="rePass">
                                <div class="form-group">
                                    <label class="bmd-label-floating">RePassword:</label>
                                    <input type="password" ng-model="user.RePassword" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Display name</label>
                                    <input type="text" ng-model="user.DisplayName" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Email</label>
                                    <input type="email" ng-model="user.Email" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <select class="form-control" ng-model="user.RoleId" ui-select2 ng-options="role.RoleId as role.RoleName for role in roles">
                                        <option selected value="">Choose role</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button ng-show="isAction==action.ADD" class="btn btn-primary" ng-click="addUser(user)">Add</button>
                    <button ng-show="isAction==action.EDIT" class="btn btn-primary" ng-click="editUser(user)">Edit</button>
                </div>
            </div>
        </div>
    </div>

    <!--Notify Modal -->
    <div class="modal fade" id="notify" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-warning" id="exampleModalLabel">Notify</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{message}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--Delete Modal -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="exampleModalLabel">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="deleteUser()">OK</button>
                </div>
            </div>
        </div>
    </div>

</div>

