
<script src="@Url.Content("~/Scripts/app/Sidebar/SidebarController.js")"></script>

<div ng-controller="SidebarController" class="sidebar" data-color="purple" data-background-color="white" data-image="../../Content/images/sidebar-1.jpg">
    <div class="logo">
        <img src="~/Content/images/logo.png" width="220px" height="150px"/>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav" id="nav" >
            <li class="nav-item" ng-class="getClass('{{ctrl.Ctrl}}')" ng-repeat="ctrl in ctrls">
                <a class="nav-link" href="/{{ctrl.Area}}/{{ctrl.Ctrl}}">
                    @*<i class="material-icons">dashboard</i>*@
                    <p>{{ctrl.Description}}</p>
                </a>
            </li>
            @*<li class="nav-item ">
                <a class="nav-link" href="/Admin/Task/Index">
                    <i class="material-icons">library_books</i>
                    <p>Task</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/Admin/ProgramLanguage/Index">
                    <i class="material-icons">content_paste</i>
                    <p>Test case</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/Admin/User/Index">
                    <i class="material-icons">person</i>
                    <p>User</p>
                </a>
            </li>*@
        </ul>
    </div>
</div>