@model CodeExam.ViewModels.AccountViewModel
@{
    ViewBag.Title = "Forgot Password";
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54" style="background-image: url('../../Content/images/bg-01.jpg');">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="text-center">
                        <h3>Code War</h3>
                        <p style="color: ivory">Find your pasword</p>
                    </div>
                    @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.TextBoxFor(u => u.Email, new { @placeholder = "Your email", @class = "form-control" })
                        </div>
                        <div>
                            <p style="color: ivory">@ViewBag.Message</p>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Next</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>