
@{
    ViewBag.Title = "Code";
}
<script src="~/Content/lib/codemirror.js"></script>
<link rel="stylesheet" href="~/Content/lib/codemirror.css">
<link rel="stylesheet" href="~/Content/lib/abcdef.css">
<script src="~/Content/mode/javascript/javascript.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    body{
        font-size: 14px;
    }

    .nav-custom > li.hover {
        color: white;
    }

    .content-exam {
        overflow: auto;
        border: 1px black solid;
        height: 500px;
        background-color: rgb(229,235,242);
    }

    .content-code-detail {
        width: 100%;
        margin-top: 10px;
    }

    .container {
        max-width: 100% !important;
        background-color: rgb(26,35,45) !important;
    }

    .CodeMirror {
    }

    #select-language, #select-language:focus, #select-language:visited, #select-language:active {
        color: #8291a3;
        background-color: #212b37 !important;
        border-color: #fff;
    }

    #info-exam {
        font-weight: bold;
        margin-top: 20px;
    }

        #info-exam span {
            margin-left: 30px;
        }

    #detail-exam {
        margin-left: 30px;
    }

    .collapse-testcase {
        background-color: rgb(33,43,55);
        margin-left: 25px;
        color: white;
        padding-left: 10px;
        padding-bottom: 5px;
        vertical-align: middle;
    }

    .content-testcase {
        margin-left: 25px;
        width: 990px;
    }

    #bottom-code-detail {
        overflow: auto;
        height: 50px;
    }
    .tab-content {
    }
    #collapseExample {
        margin-left: 25px;
    }
    .input-testcase {
        display: -webkit-box;
    }
    .list-param{
        margin-left:10px;
    }
    .CodeMirror-gutters {
        background: #0f0f0f;
        border: none;
    }
</style>

<div class="container">
    <!--Header-->
    <div class="row" style="background: #33485f; color: white;">
        <div>
            <a href="/Direction" style="color: white;"><i class="glyphicon glyphicon-arrow-left"><span> BACK</span></i></a>
        </div>
        <div class="col-md-4 col-md-offset-3" style="text-align: center"><span>Add</span></div>
    </div>

    <div class="row">
        <div class="content-code-detail" style="position: relative;">
            <div class="content-exam col-md-3" id="content-exam">
                <div id="info-exam" style="font-size: 16px;">
                    <span><i class="text-success glyphicon glyphicon-menu-up"></i> Easy</span> 
                    <span><img width="16" height="16" src="~/Content/images/icon/coin.svg"/> 300</span>
                </div>
                <div id="detail-exam">
                    <div id="content-detail-exam">
                        <h4 class="text-info">Summary</h4>
                        <p>
                            Write a function that returns the sum of two numbers.
                        </p>
                    </div>
                    <h4 class="text-info">INPUT/OUTPUT</h4>
                    <div id="input-output">
                        <ul>
                            <li>[input] param 1 : integer</li>
                            <li>[input] param 2 : array of length</li>
                            <li>[output] output : integer</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row" style="background: #0f0f0f; border-bottom: 1px solid;">
                    <div class="pull-right">
                        <select id="select-language" style="border: 1px solid #8291a3">
                            <option>Javascript</option>
                            <option>C#</option>
                        </select>
                    </div>
                </div>
                
                <div id="codeeditor"></div>
                <div class="bottom-code-detail" style="height: 212px;">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#menu1">Test Case</a></li>
                        <li><a data-toggle="tab" href="#menu2">Console</a></li>
                    </ul>
                    <div class="tab-content" style="color:white;font-weight:bold;">
                        <div id="menu1" class="tab-pane active in">
                            <a class="collapse-testcase" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                TestCase 1
                            </a>
                            <div class="collapse" id="collapseExample">
                                <div class="input-testcase">
                                    <p>Input:</p>
                                    <div class="list-param">
                                        <span>param1: 2222222222222222222222222222222222222222</span>
                                        <span>param2: 2222222222222222222222222222222222222222</span>
                                    </div>
                                </div>
                                <div class="ouput-testcase">
                                    <span>Output:</span>
                                </div>
                                <div class="expected-ouput-testcase">
                                    <p>Expected ouput: </p>
                                </div>
                            </div>
                        </div>
                        <div id="menu2" class="tab-pane" style="overflow: auto">
                            <h3>Menu 2</h3>
                            <p>Some content in menu 2.</p>
                        </div>
                    </div>
                    <div class="row" style="bottom: 0; justify-content: flex-end;">
                        <input class="btn btn-info" type="button" value="Run" id="run-button" onclick="clickRun()" style="border-radius: 5px; padding: 0 10px; height: 24px; font-size: 14px;" />
                        <input class="btn btn-success" type="button" value="Submit" style="border-radius: 5px; padding: 0 10px; height: 24px; font-size: 14px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    var editor = CodeMirror(document.getElementById("codeeditor"), {
        mode: "javascript",
        theme: "abcdef",
        lineNumbers: true,
        viewportMargin: 50
    });
    function clickRun() {
        $.ajax({
            url: "/Compiler/RunJS",
            type: "post",
            data: {
                taskId: 8
            },
            success: function (result) {
                $('#result').html(result);
            }
        });
    }
</script>