
@{
    ViewBag.Title = "Code";
}
<script src="~/Content/lib/codemirror.js"></script>
<link rel="stylesheet" href="~/Content/lib/codemirror.css">
<link rel="stylesheet" href="~/Content/lib/abcdef.css">
<script src="~/Content/mode/javascript/javascript.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    .nav-custom > li.hover {
        color: white;
    }

    #codeeditor {
        width: 1020px;
    }

    .content-exam {
        width: 500px;
        overflow: auto;
        border: 1px black solid;
        height: 665px;
        background-color: rgb(229,235,242);
    }

    .content-code-detail {
        display: -webkit-box;
        margin-top: 10px;
    }

    .container {
        max-width: 100% !important;
        background-color: rgb(26,35,45) !important;
    }

    .CodeMirror {
        height: 400px;
    }

    #select-language, #select-language:focus, #select-language:visited, #select-language:active {
        color: white !important;
        background-color: #212b37 !important;
        border-color: #fff;
    }

    #info-exam {
        font-weight: bold;
        margin-top: 20px;
    }

        #info-exam span {
            margin-left: 30px;
        }

    #detail-exam {
        margin-left: 30px;
    }

    .collapse-testcase {
        background-color: rgb(33,43,55);
        margin-left: 25px;
        color: white;
        padding-left: 10px;
        padding-right: 870px;
        padding-bottom: 5px;
        vertical-align: middle;
    }

    .content-testcase {
        margin-left: 25px;
        width: 990px;
    }

    #bottom-code-detail {
        overflow: auto;
        height: 50px;
    }
    .tab-content {
        overflow: auto;
        width: 1030px;
        height: 133px;
    }
    #collapseExample {
        margin-left: 25px;
    }
    .input-testcase {
        display: -webkit-box;
    }
    .list-param{
        margin-left:10px;
    }
</style>

<div class="container">
    <!--Header-->
    <div class="row" style="background: #111222; color: white;">
        <div>
            <a href="/Direction" style="color: white;"><i class="glyphicon glyphicon-arrow-left"><span> BACK</span></i></a>
        </div>
        <div class="col-md-4 col-md-offset-3" style="text-align: center"><span>Add</span></div>
    </div>

    <div class="row" ;>
        <div class="content-code-detail">
            <div class="content-exam col-md-4" id="content-exam">
                <div id="info-exam">
                    <span>Easy</span>
                    <span>Point: 300</span>
                </div>
                <div id="detail-exam">
                    <div id="content-detail-exam">
                        <h4>Summary</h4>
                        <p>
                            Write a function that returns the sum of two numbers.
                        </p>
                    </div>
                    <h4>INPUT/OUTPUT</h4>
                    <div id="input-output">
                        <ul>
                            <li>[input] param 1 : integer</li>
                            <li>[input] param 2 : array of length</li>
                            <li>[output] output : integer</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div>
                    <select class="form-control" id="select-language" >
                        <option value="js">js</option>
                        <option value="csharp">c#</option>
                    </select>
                </div>
                <div id="codeeditor"></div>
                <div class="bottom-code-detail">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#menu1">Test Case</a></li>
                        <li><a data-toggle="tab" href="#menu2">Console</a></li>
                    </ul>

                    <div class="tab-content" style="color:white;font-weight:bold;">
                        <div id="menu1" class="tab-pane active in">
                            <a class="collapse-testcase" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Link with href
                            </a>
                            <div class="collapse" id="collapseExample">
                                <div class="input-testcase">
                                    <p>Input:</p>
                                    <div class="list-param">
                                        <span>param1:22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222</span>
                                        <span>param2:22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222</span>
                                    </div>
                                </div>
                                <div class="ouput-testcase">
                                    <span>Output:</span>
                                </div>
                                <div class="expected-ouput-testcase">
                                    <p>Expected ouput: </p>
                                </div>
                            </div>
                        </div>
                        <div id="menu2" class="tab-pane">
                            <h3>Menu 2</h3>
                            <p>Some content in menu 2.</p>
                        </div>
                    </div>
                    <div style="float:right;">
                        <input type="button" value="Run" id="run-button" onclick="clickRun()" />
                        <input type="button" value="Submit" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    var editor = CodeMirror(document.getElementById("codeeditor"), {
        mode: "javascript",
        theme: "abcdef",
        lineNumbers: true,
        viewportMargin: 50
    });
    function clickRun() {
        $.ajax({
            url: "/Compiler/GenFileAndRun",
            type: "post",
            data: {
                source: editor.getValue(), taskId: 8, language: $('#select-language').val()
            },
            success: function (result) {
                $('#result').html(result);
            }
        });
    }
</script>