
@{
    ViewBag.Title = "Code";
}
<script src="~/Content/lib/codemirror.js"></script>
<link rel="stylesheet" href="~/Content/lib/codemirror.css">
<link rel="stylesheet" href="~/Content/lib/abcdef.css">
<link rel="stylesheet" href="~/Content/css/loading.css" />
<script src="~/Content/mode/javascript/javascript.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="~/Scripts/user/app/CodeController.js"></script>
<style>
    body {
        font-size: 14px;
    }

    .nav-custom > li.hover {
        color: white;
    }

    .content-exam {
        overflow: auto;
        border: 1px black solid;
        height: 580px;
        background-color: rgb(229,235,242);
    }

    .content-code-detail {
        width: 100%;
        margin-top: 10px;
    }

    .container {
        max-width: 100% !important;
        background-color: rgb(26,35,45) !important;
    }

    .CodeMirror {
    }

    #select-language, #select-language:focus, #select-language:visited, #select-language:active {
        color: #8291a3;
        background-color: #212b37 !important;
        border-color: #fff;
    }

    #info-exam {
        font-weight: bold;
        margin-top: 20px;
    }

        #info-exam span {
            margin-left: 30px;
        }

    #detail-exam {
        margin-left: 30px;
    }

    .collapse-testcase {
        background-color: rgb(33,43,55);
        margin-left: 25px;
        color: white;
        padding-left: 10px;
        padding-bottom: 5px;
        vertical-align: middle;
    }

    .content-testcase {
        margin-left: 25px;
        width: 990px;
    }

    #bottom-code-detail {
        overflow: auto;
        height: 50px;
    }

    .tab-content {
    }

    #collapseExample {
        margin-left: 25px;
    }

    .input-testcase {
        display: -webkit-box;
    }

    .list-param {
        margin-left: 10px;
    }

    .CodeMirror-gutters {
        background: #0f0f0f;
        border: none;
    }
</style>

<div class="container" ng-controller="CodeController" ng-init="getLanguage()">
    <!--Header-->
    <div class="row" style="background: #33485f; color: white;">
        <div>
            <a href="/Direction" style="color: white;"><i class="glyphicon glyphicon-arrow-left"><span> BACK</span></i></a>
        </div>
        <div class="col-md-4 col-md-offset-3" style="text-align: center"><span>{{task.TaskName}}</span></div>
    </div>

    <div class="row">
        <div class="content-code-detail">
            <div class="col-md-3"  style="position: absolute; background: #212b37; padding: 0px; border-right: 1px solid">
                <ul class="nav nav-tabs">
                    <li style="background: #212b37; border: 1px solid; border-radius: 5px;" id="summary" class="active"><a data-toggle="tab" href=".summary">Summary</a></li>
                    <li style="background: #212b37; border: 1px solid; border-radius: 5px;" id="drawf"><a data-toggle="tab" href=".drawf" ng-click="getLeaderByTaskId(task.TaskId)">Draft</a></li>
                </ul>
            </div>
            <div class="content-exam col-md-3 tab-content" id="content-exam" style="top: 40px;">
                <div class="summary tab-pane active">
                    <div id="info-exam" style="font-size: 16px;">
                        <span><i class="text-success glyphicon glyphicon-menu-up"></i> {{task.TaskLevel}}</span>
                        <span><img width="16" height="16" src="~/Content/images/icon/coin.svg" /> {{task.Point}}</span>
                    </div>
                    <div id="detail-exam">
                        <div id="content-detail-exam">
                            <h4 class="text-info">Summary</h4>
                            <p class="description" style="color: black;"></p>
                        </div>
                        <h4 class="text-info">INPUT/OUTPUT</h4>
                        <div id="input-output">
                            <ul style="color: black; font-weight: bold;">
                                <li ng-repeat="input in task.Input track by $index">[Input] {{input.InputName}} : {{input.InputType}}</li>
                                <li>[Output] {{task.OutputType}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="drawf tab-pane">
                    <select ng-options="programLanguage.LanguageName for programLanguage in programLanguages" ng-model="programLanguage" ng-change="getLeaderByLanguageId(programLanguage.LanguageId, task.TaskId)"></select>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>UserName</th>
                                <th>Language</th>
                                <th>XP</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="leader in leaders" ng-click="showSourceCode(leader.SourceCode)">
                                <td>{{leader.User.UserName}}</td>
                                <td>{{leader.Language.LanguageName}}</td>
                                <td>{{leader.Point}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-md-9">
                <div class="row" style="background: #212b37; border-bottom: 1px solid;">
                    <div class="col-md-offset-10">
                        <select id="select-language" style="border: 1px solid #8291a3" ng-model="language" ng-change="changeLanguage(language.Value)" ng-options="language.Name for language in languages"></select>
                    </div>
                </div>

                <div id="codeeditor"></div>
                <div class="bottom-code-detail" style="position: relative;">
                    <ul class="nav nav-tabs">
                        <li style="background: #212b37;" id="testcase" class="active"><a data-toggle="tab" href=".ts">Test Case</a></li>
                        <li style="background: #212b37;" id="console"><a data-toggle="tab" href="#menu2">Console</a></li>
                    </ul>
                    <div class="row" style="position: absolute; top: 15px; right: 15px;">
                        <input class="btn btn-info" type="button" value="Run" id="run-button" ng-click="clickRun()" style="border-radius: 5px; padding: 0 10px; height: 24px; font-size: 14px;" />
                        <input class="btn" type="button" value="Submit" style="border-radius: 5px; padding: 0 10px; height: 24px; font-size: 14px; background: #44bfa3; color: #fff" ng-click="submit()" />
                    </div>
                    <div class="tab-content" style="color:white;font-weight:bold; height: 264px; overflow: auto;">
                        <div class="lds-ring col-md-offset-5"><div></div><div></div><div></div><div></div></div>
                        <span style="font-weight: normal;" class="notifySuccess">{{testcase.successShowTestCase}}/{{testcase.totalShowTestCase}} sample tests passed. Click Submit to run the full test suite and save your solution.</span>
                        <div ng-repeat="testcase in testCases track by $index" id="collapse{{$index + 1}}" style="background: #212b37; padding: 5px; margin-bottom: 3px;" class="tab-pane active collapse ts" data-toggle="collapse" href="#collapseExample" role="button" ng-click="collapseTestCase($index)">
                            <span style="font-weight: normal;">TestCase {{$index + 1}}</span>
                            <i hidden id="isSuccess" class="text-info fas fa-check-circle pull-right" style="font-size: 22px;"></i>
                            <i hidden id="isFailed" class="text-danger fas fa-exclamation-triangle pull-right" style="font-size: 22px;"></i>
                            <i id="isLocked" ng-show="$index + 1 > lengthTestCaseShow" class="fas fa-lock pull-right" style="font-size: 22px;"></i>
                            <div class="collapse" id="testcase{{$index + 1}}">
                                <div class="input-testcase">
                                    <span style="color: #3498db; font-weight: normal;">Input:</span>
                                    <div class="list-param">
                                        <ul>
                                            <li ng-repeat="inputTest in testcase.Input track by $index">Param {{$index + 1}}: {{inputTest}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ouput-testcase">
                                    <span style="color: #3498db; font-weight: normal;">Output: <span style="color: white; font-weight: bold;">{{testcase.OutputResult}}</span></span>
                                </div>
                                <div class="expected-ouput-testcase">
                                    <p style="color: #3498db; font-weight: normal;">Expected ouput: <span style="color: white; font-weight: bold;">{{testcase.Output}}</span></p>
                                </div>
                            </div>
                        </div>
                        <div id="menu2" class="tab-pane" style="overflow: auto">
                            <p></p>
                            <ul id="submit" style="font-family: Work Sans, Arial, sans-serif; font-weight: normal; list-style-type: none;">
                                <li style="color: #44bfa3;"><i class="glyphicon glyphicon-ok-sign" style="color: #44bfa3; font-size: 26px; vertical-align: middle;"></i> {{testcase.realTestCase}}/{{testcase.totalTestCase}} tests passed</li>
                                <li>Sample tests: <span style="color: #44bfa3;">{{testcase.successShowTestCase}}/{{testcase.totalShowTestCase}}</span></li>
                                <li>Hidden tests: <span style="color: #44bfa3;">{{testcase.successHiddenTestCase}}/{{testcase.totalHiddenTestCase}}</span></li>
                                <li>Score: <span style="color: #44bfa3;">{{point.realPoint}}/{{point.totalPoint}}</span></li>
                                <li><a class="btn btn-success" href="/Direction">Continue</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>