
@{
    ViewBag.Title = "Code Page";
}

<style>
    .overlay {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 20px;
        right: 20px;
        opacity: 0;
        height: 60%;
        transition: .5s ease;
        background-color: rgba(51,72,95,.95);
        padding: 0 40px;
        color: white !important;
        cursor: pointer;
    }
    .thumbnail-exam:hover .overlay {
        opacity: 0.9;
        margin-top: -10px;
        margin-bottom: 50px;
        transition: 0.5s ease;
    }
    .thumbnail-exam:hover .hover-exam {
        opacity: 0.9;
        margin-top: -10px;
        margin-bottom: 50px;
        transition: 0.5s ease;
    }
    .thumbnail-exam:hover {
        width: 80%;
    }
</style>
<script src="~/Scripts/user/app/DirectionController.js"></script>
<div ng-controller="DirectionController">
    <section class="ftco-section services-section bg-light">
        <div class="container">
            @*<div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <h2 class="mb-4">Intro</h2>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                </div>
            </div>*@
            <div class="row">
                <div class="col-md-4 d-flex align-self-stretch thumbnail-exam" ng-repeat="task in TaskList track by $index" style="position: relative;">
                    <a href="/Direction/Code?id={{task.TaskId}}" class="media block-6 services d-block text-center hover-exam">
                        <div class="media-body p-2 mt-3">
                            <img width="50" height="50" src="~/Content/images/icon/challenge.svg" />
                            <h3 class="heading">{{task.TaskName}}</h3>
                            <p style="height: 50px; overflow: hidden; color: black;" ng-bind-html="task.TaskDescription"></p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="">
                                <img style="width: 24px; height: 24px;" src="~/Content/images/icon/coin.svg" />
                                <span style="padding-left:0;">{{task.Point}}</span>
                            </div>
                            <div class="" style="padding-left: 20px;">
                                <div ng-switch="task.TaskLevel">
                                    <i ng-switch-when="Easy" class="text-success glyphicon glyphicon-menu-up">{{task.TaskLevel}}</i>
                                    <i ng-switch-when="Medium" class="text-primary glyphicon glyphicon-menu-up">{{task.TaskLevel}}</i>
                                    <i ng-switch-when="Hard" class="text-danger glyphicon glyphicon-menu-up">{{task.TaskLevel}}</i>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="overlay" href="/Direction/Code?id={{task.TaskId}}">
                        <span style="font-size: 20px;">{{task.TaskName}}</span>
                        <p style="font-size: 14px; line-height: 1.2;" ng-bind-html="task.TaskDescription"></p>
                    </a>
                </div>
            </div>

            @*Paging*@
            <div class="col-md-offset-5 col-sm-7 col-xs-7 none-padding page-footer">
                <div class="col-sm-12 col-xs-12 none-padding page-footer">
                    <div class="col-sm-12 col-xs-12 none-padding text-right ">
                        <ul uib-pagination boundary-links="true"
                            total-items="ItemPaging.total"
                            ng-change="childsPageChanged()"
                            max-size="ItemPaging.maxSize"
                            items-per-page="ItemPaging.numPerPage"
                            ng-model="ItemPaging.currentPage"
                            boundary-link-numbers="true"
                            class="tbl-pagination pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">CodeWar</h2>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Product</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Test</a></li>
                            <li><a href="#" class="py-2 d-block">InterView</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Modes</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Interview Practice</a></li>
                            <li><a href="#" class="py-2 d-block">Challenges</a></li>
                            <li><a href="#" class="py-2 d-block">Company Challenges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Contact Us</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+84 968 571 227</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">codewar@gmail.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>
