
@{
    ViewBag.Title = "Intro";
}
<div class="container-fluid" style="background-color: #233142;" ng-controller="IntroController">
    <div class="container">
        <div class="row">
            <a href="/Direction" style="color: #d6d6c2;"><i class="glyphicon glyphicon-arrow-left"> Direction</i></a>
        </div>

        <!--Tittle-->
        <div class="row">
            <div class="col-md-2 col-md-offset-5" style="text-align: center">
                <h3 style="color: white">Intro</h3>
            </div>
        </div>

        <!--Content-->
        <div class="row"  style="margin-bottom: 30px;">
            <div class="col-md-6 col-lg-offset-3">
                <!--Header-->
                <div class="col-md-6 col-md-offset-3" style="text-align: center; background: white; border-radius: 2px;">
                    <span>The Journey Begins</span>
                </div>
                <!--Image-->
                <div>
                    <img src="../../Content/images/arcade-intro-01-the-journey-begins.png" alt="abc" width="100%" />
                </div>
                <div style="background: white; border-radius: 0 0 5px 5px; display: flex; justify-content: center">
                    <a href="" style="border-radius: 50%; background: #33ffcc; text-align: center; font-weight: bold; color: white; margin-left: 10px;">
                        <div style="min-width: 32px; height: 32px;">1</div>
                    </a>
                    <a href="" style="border-radius: 50%; background: #33ffcc; text-align: center; font-weight: bold; color: white; margin-left: 10px;">
                        <div style="min-width: 32px; height: 32px;">2</div>
                    </a>
                    <a href="" style="border-radius: 50%; background: #33ffcc; text-align: center; font-weight: bold; color: white; margin-left: 10px;">
                        <div style="min-width: 32px; height: 32px;">3</div>
                    </a>
                    <a href="" style="border-radius: 50%; background: #33ffcc; text-align: center; font-weight: bold; color: white; margin-left: 10px;">
                        <div style="min-width: 32px; height: 32px;">4</div>
                    </a>
                    <a href="" style="border-radius: 50%; background: #33ffcc; text-align: center; font-weight: bold; color: white; margin-left: 10px;">
                        <div style="min-width: 32px; height: 32px;">5</div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row"  style="margin-bottom: 30px;">
            <div class="col-md-6 col-lg-offset-3">
                <!--Header-->
                <div class="col-md-6 col-md-offset-3" style="text-align: center; background: white; border-radius: 2px;">
                    <span>The Journey Begins</span>
                </div>
                <!--Image-->
                <div>
                    <img src="../../Content/images/arcade-intro-01-the-journey-begins.png" alt="abc" width="100%" />
                </div>
                <div style="background: white; border-radius: 0 0 5px 5px; display: flex; justify-content: center">
                    <a href="" style="border-radius: 50%; background: #33ffcc; text-align: center; font-weight: bold; color: white; margin-left: 10px;">
                        <div style="min-width: 32px; height: 32px;">1</div>
                    </a>
                    <a href="" style="border-radius: 50%; background: #33ffcc; text-align: center; font-weight: bold; color: white; margin-left: 10px;">
                        <div style="min-width: 32px; height: 32px;">2</div>
                    </a>
                    <a href="" style="border-radius: 50%; background: #33ffcc; text-align: center; font-weight: bold; color: white; margin-left: 10px;">
                        <div style="min-width: 32px; height: 32px;">3</div>
                    </a>
                    <a href="" style="border-radius: 50%; background: #33ffcc; text-align: center; font-weight: bold; color: white; margin-left: 10px;">
                        <div style="min-width: 32px; height: 32px;">4</div>
                    </a>
                    <a href="" style="border-radius: 50%; background: #33ffcc; text-align: center; font-weight: bold; color: white; margin-left: 10px;">
                        <div style="min-width: 32px; height: 32px;">5</div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row"  style="margin-bottom: 30px;">
            <div class="col-md-6 col-lg-offset-3">
                <!--Header-->
                <div class="col-md-6 col-md-offset-3" style="text-align: center; background: white; border-radius: 2px;">
                    <span>The Journey Begins</span>
                </div>
                <!--Image-->
                <div>
                    <img src="../../Content/images/arcade-intro-01-the-journey-begins.png" alt="abc" width="100%" />
                </div>
                <div style="background: white; border-radius: 0 0 5px 5px; display: flex; justify-content: center">
                    <a href="" style="border-radius: 50%; background: #33ffcc; text-align: center; font-weight: bold; color: white; margin-left: 10px;">
                        <div style="min-width: 32px; height: 32px;">1</div>
                    </a>
                    <a href="" style="border-radius: 50%; background: #33ffcc; text-align: center; font-weight: bold; color: white; margin-left: 10px;">
                        <div style="min-width: 32px; height: 32px;">2</div>
                    </a>
                    <a href="" style="border-radius: 50%; background: #33ffcc; text-align: center; font-weight: bold; color: white; margin-left: 10px;">
                        <div style="min-width: 32px; height: 32px;">3</div>
                    </a>
                    <a href="" style="border-radius: 50%; background: #33ffcc; text-align: center; font-weight: bold; color: white; margin-left: 10px;">
                        <div style="min-width: 32px; height: 32px;">4</div>
                    </a>
                    <a href="" style="border-radius: 50%; background: #33ffcc; text-align: center; font-weight: bold; color: white; margin-left: 10px;">
                        <div style="min-width: 32px; height: 32px;">5</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>