@{
    ViewBag.Title = "Leader";
}

<div class="container">
   
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Xp</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>John</td>
                <td>15728</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Mary</td>
                <td>14033</td>
            </tr>
            <tr>
                <td>3</td>
                <td>July</td>
                <td>11200</td>
            </tr>
        </tbody>
    </table>
</div>

